// variables
$primaryColor: #a58233;
$accentColor: #cccaab;
$headerheight: 50px;

main {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.containerMain {
    width: 100%;
    height: 100%;
}

.containerHeader {
    height: $headerheight;
    width: 100%;
}

.headerElements{
    display: flex;
    height: $headerheight;
    align-items: flex-end;
    margin-bottom: 10px;
    background-color: green;

    .sidebarIcon {
        border: none;
        height: 40px;
        margin: 5px;
        padding: 0px;
        width: 40px;
    }

    .headerLogo {
        height: 100%;
        object-fit: cover;
    }
    
    .headerTitle {
        font-size: 35px;
    }
}

.contentContainer {
    width: 100%;
    height: -webkit-calc(100% - 50px);
    height:    -moz-calc(100% - 50px);
    height:         calc(100% - 50px);
}

.containerSidebar, .containerApp {
    height: 100%;
    display: inline-block;
}

.containerSidebar {
    width: 15%;
    background-color: red;
}

.containerApp {
    width: 85%;
    background-color: blue;
}