// variables
$primaryColor: #a58233;
$accentColor: #cccaab;
$headerheight: 50px;

.headerContainer{
    display: flex;
    height: $headerheight;
    align-items: flex-end;
    margin-bottom: 10px;
    background-color: lightblue;

    .headerLogo {
        height: 100%;
        object-fit: cover;
    }
    
    .headerTitle {
        font-size: 35px;
    }
}

a {
    color:$primaryColor;
    text-decoration: none; /* no underline */
}