<main>
  <div class="containerMain">
    <div class="containerHeader">
      <header class="brand-name">
        <div class="headerElements">
          <!--<img class="headerLogo" src="/assets/logo.png" alt="logo" aria-hidden="true" [routerLink]="['/']"/>-->
          <span class="headerTitle" [routerLink]="['/']">MediaLibrary</span>
        </div>
      </header>
    </div>
    <div class="contentContainer">
      <div class="containerSidebar">
        <app-sidebar></app-sidebar>
      </div>
      <div class="containerApp">    
        <section class="content">
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
  </div>
</main>